<div class="container">

	<h3>List of Order</h3>

	<table class="table table-bordered table-striped table-hover">
		<thead>
			<tr>
				<th>Client Name</th>
				<th>Client Email</th>
				<th>Package Name</th>
				<th>Status</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @orders.each do |order| %>
			<tr>
				<td><%= order.try(:client_name) %></td>
				<td><%= order.try(:client_email) %></td>
				<td><%= order.package.name %></td>
				<td><%= order.status %></td>
				<td>
					<%= link_to "Show", admin_order_path(order), :class => "btn btn-primary btn-xs" %>
					<%= link_to "Delete", admin_order_path(order), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-xs btn-default" %>
					<% if order.is_pending? %>
            <%= link_to 'Mark as complete', complete_admin_order_path(order), method: :patch, class: "btn btn-xs btn-info" %>
          <% else %>  
            <%= link_to 'Mark as pending', pending_admin_order_path(order), method: :patch, class: "btn btn-xs btn-danger" %>
          <% end %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>

</div>
	
