<div class="notification-bar">  
    <input id="hide" type="radio" name="bar" value="hide">  
    <input id="show" type="radio" name="bar" value="show" checked="checked">  
      
    <label for="hide">hide</label>  
    <label for="show">show</label>  
      
    <div class="notification-text"><%= Announcement.first.try(:message) %></div>  
</div> 

<%= image_tag "background-photo.jpg", id: "bg" %>

<div class="row-fluid">
	<div class="col-md-6">
		<div class="pakej-detail">
			<h3>TEMPAHAN GOLD BAR PAMP SUISSE 100G 24K</h3>
			<div class="row">
				<% Package.all.each do |package| %>
				<div class="col-md-3 col-xs-12 col-sm-6">
					<table class="pakej-2">
						<thead>
							<tr>
								<th><%= package.name %></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<p>Harga</p>
									<span>RM<%= package.price %></span>
									<p>Landing</p>
									<span><%= package.landing_date %></span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-order">
			<h3>Apa lagi yang ditunggu? Tempahlah sekarang!</h3>
			<%= form_for @order, :html => {:multipart => true, method: :post, class: "form-horizontal"} do |f| %>

				<% if @order.errors.any? %>
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong><%= pluralize(@order.errors.count, "error") %> prohibited
            this order from being saved:</strong>
            <ul>
              <% @order.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
              <% end %>
            </ul>
        </div>
        <% end %>

				<div class="form-group">
					<%= f.label :package_id, "Package Name", class: "col-sm-3 control-label" %>
					<div class="col-sm-9">
						<%= f.collection_select :package_id, Package.order(:name), :id, :name, {}, :class => "form-control input-md" %>
					</div>
				</div>

				<div class="form-group">
					<%= f.label :client_name, "Full Name", class: "col-sm-3 control-label" %>
					<div class="col-sm-9">
						<%= f.text_field :client_name, class: "form-control input-md" %>
					</div>
				</div>

				<div class="form-group">
					<%= f.label :client_email, "Email Address", class: "col-sm-3 control-label" %>
					<div class="col-sm-9">
						<%= f.email_field :client_email, class: "form-control input-md" %>
					</div>
				</div>

				<div class="form-group">
					<%= f.label :phone_number, "Phone Number", class: "col-sm-3 control-label" %>
					<div class="col-sm-9">
						<%= f.text_field :phone_number, class: "form-control input-md" %>
					</div>
				</div>

				<div class="form-group">
					<%= f.label :payment_date, "Payment Date", class: "col-sm-3 control-label" %>
					<div class="col-sm-9">
						<div class="input-group">
					    <span class="input-group-btn">
					      <button class="btn" type="button"><span class="fui-calendar"></span></button>
					    </span>
					    <%= f.text_field :payment_date, class: "form-control input-md", id: "payment_date" %>
					  </div>
					</div>
				</div>

				<div class="form-group">
					<p style="color:#ffffff;font-size:16px;font-weight:300;">
						<small>Buyback at <strong>RM132.00</strong></small>
						<small class="pull-right">Lock & Pay before <strong>4:30pm</strong></small>
					</p>
					<%= f.submit "Submit Order", :class => "btn btn-embossed btn-info btn-block" %>
				</div>

			<% end %>
		</div>
	</div>
</div>