<div class="container">

	<h3><center>Announcement</center></h3>

	<%= form_for :announcement, url: admin_announcement_path, method: :patch do |f| %>
		<div class="row">
			<div class="col-md-4 col-md-offset-4">

				<% if @announcement.errors.any? %>
			  <div class="alert alert-danger alert-dismissable">
			    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			    <strong><%= pluralize(@announcement.errors.count, "error") %> prohibited
			      this announcement from being saved:</strong>
			      <ul>
			        <% @announcement.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			        <% end %>
			      </ul>
			  </div>
			  <% end %>

			  <div class="form-group">
					<%= f.label :message, "Message", class: "control-label" %>
					<%= f.text_area :message, class: "form-control input-md", rows: 5 %>
				</div>

				<div class="form-group">
					<%= f.submit "Submit", :class => "btn btn-embossed btn-info btn-block" %>
				</div>

			</div>
		</div>

	<% end %>

</div>